.category {
    padding: 60px 0;
  }
  
  .category__title {
    margin-bottom: 30px;
    font-size: 32px;
    text-align: center;
  }
  
  .category__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
  }
  
  .category__product {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;


  }
  
  .category__product-image {
    width: 50%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .category__product-title {
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
  }
  
  
  
  .category__product-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #0077ff;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .category__product-button:hover {
    background-color: #0066cc;
  }
  
  .category__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .category__modal-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 800px;
    width: 80%;
    text-align: center;
  }
  
  .category__modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    background-color: transparent;
    color: #000;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .category__modal-close:hover {
    color: #999;
  }
  
  .category__modal-image {
    max-width: 30%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .category__modal-title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  .category__modal-description {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
  }

  .category__modal-pay-and-play {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .category__modal-pay-and-play:hover {
    background-color: #3e8e41;
  }
  
  
  /* Modal styling */
.phone-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .phone-modal__content {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .phone-modal__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .phone-modal__input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .phone-modal__button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .phone-modal__button:hover {
    background-color: #3e8e41;
  }
  