.category__game-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .game-card {
    width: calc(50% - 20px); /* set the width to 50% minus the margin */
    margin: 10px;
  }
  
  @media screen and (min-width: 600px) {
    /* for screens wider than 600px */
    .game-card {
      width: calc(20% - 20px); /* set the width to 20% minus the margin */
    }
  }
  