.game-card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: #f8f8f8;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 300px; /* add max-width to limit width */
}

.game-card__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.game-card__content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.game-card__title {
  font-size: 1.2rem;
  margin: 5px 0;
}

.game-card__description {
  font-size: 1rem;
  margin: 10px 0;
  flex-grow: 1;
}

.game-card__button {
  font-size: 1rem;
  padding: 5px 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .games-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
  .game-card {
    flex: 0 0 33%;
    scroll-snap-align: center;
    margin-right: 10px;
  }
}

