.games-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-card {
  flex: 1 0 50%; /* Set the width to 50% so that two cards can fit per row */
}

@media (min-width: 768px) {
  /* Set the breakpoint at 768px to only apply the styles below this width */
  .game-card {
    flex-basis: calc(33.33% - 20px); /* Set the width to 33.33% with 20px margin */
    margin: 10px; /* Set margin for space between cards */
    flex: 1 0 50%;

  }

  @media (min-width: 776px) {
    .game-card {
      flex-basis: calc(49% - 20px); /* Set the width to 49% with 20px margin */
      margin: 10px; /* Set margin for space between cards */
      flex: 1 0 50%;
    }
  }
  

}

.loading {
  text-align: center;
  margin-top: 10px;
}

.loading p {
  display: inline-block;
  text-transform: uppercase;
  font-size: 24px;
  font-family: Arial;
  font-weight: 600;
  color: #121212;
  -webkit-text-stroke: 2px gray;
  animation: loading 1s ease-in-out infinite;
  opacity: 0;
}

@keyframes loading {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}
