.gamecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  height: 400px;
  margin: 20px;
  margin-top: 30px;
}

.gamecard__image {
  margin-top: 20px;
  width: 50%;
  height: 40%;
  margin-bottom: 20px;
}

.gamecard__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 50%;
}

.gamecard__title {
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.gamecard__button {
  background-color: #0077ff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.gamecard__button:hover {
  background-color: #0052a3;
}
