.header {
  background-image: url('https://wallpaper.dog/large/5457705.jpg');
  background-position: center center;
  background-size: cover;
  text-align: center;
  font-weight: 700;
}

.header__brand {
  margin-bottom: 20px;
}

.header__brand-name {
  color: black;
  font-size: 30px;
  margin: 0;
  font-family: 'Alkatra', cursive;
}

.header__nav {
  background-color: #333;
  color: #fff;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding: 10px 0;
}

.header__nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.header__nav-item {
  margin-right: 20px;
}

.header__nav-link {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.header__nav-link:hover,
.header__nav-link.active {
  background-color: #fff;
  color: #333;
}

.header__mobile-menu-btn {
  display: none;
}
.header__logout-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  font-size: 20px;
}

.header__logout-button:hover {
  background-color: orange;
}



/* Mobile view */
@media screen and (max-width: 767px) {

  .header {
    padding: 40px;
    position: relative;
    top: 0;
    z-index: 1;
  }

  .header__nav{
    display: none;
  }

  .header__brand-name {
    margin-bottom: 20px;
    font-size: large;
  }

  .header__nav-menu {
    display: none;
  }

  .header__mobile-menu-btn {
    display: block;
    position: relative;
    top: 0;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 15px;
    width: 100%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 0;
    text-align: center;
    
  }

  .header__mobile-nav {
    display: block;
    background-color: #333;
    color: #fff;
    padding: 1px;
    margin-top:-0.1cm;
    
  }

  .header__mobile-nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .header__mobile-nav-item {
    margin: 5px 0;
  }

  .header__mobile-nav-link {
    display: block;
    padding: 10px;
    text-align: left;
    width: 100%;
    color: #faf6f6;
    text-decoration: none;
    font-weight: bold;
  }

  .header__mobile-nav-link:hover {
    background-color: #f2f2f2;
  }

  .header__mobile-nav-link.active {
    background-color: #fff;
    color: #333;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 200px;
  }
  
  .header__mobile-nav {
    display: none;
  }
}
